.Red { background-color: red; }
.Green { background-color: green; }
.Blue { background-color: blue; }
.Yellow { background-color: yellow; }
.Pink { background-color: pink; }
.Purple { background-color: purple; }
.Orange { background-color: orange; }
